:root {
    --dark-color: #292D3E;
    --light-color: #393D4C;
    --text: #787c99;
    --shadow: #100908;
}

html {
    background: var(--dark-color);
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--text);
    text-decoration: none;
}
a {
    color: var(--text);
    text-decoration: none;
    transition: color 0.5s
}


#Container {
    width: 750px;
    height: 700px;
    position: absolute;
    margin: auto;
    left: 0; right: 0; top: 0;
}

#Title {
    width: 100%;
    height: 240px;
    position: absolute;
}

#Title span {
    bottom: 0;
    margin-left: 10%;
    font-size: 96px;
    position: absolute;
}

#Div-Container {
    position: absolute;
    top: 240px;
    bottom: 0;
    width: 100%;
}

.PerioDiv {
    display: Relative;
    float:left;
    width: 140px;
    height: 140px;
    margin: 5px;
    background: var(--light-color);
    line-height: 140px;
    text-align: center;
    transition: background 0.5s;
    box-shadow: 3px 3px 3px var(--shadow)
}


.PerioDiv span {
    font-size: 72px;
    font-weight: bold;
    margin-left: -5px;
}
.chan {
    width: 70px;
    height: 70px;
    font-size: 28px;
    font-weight: bold;
    float:left;
    line-height: 70px;
    vertical-align: middle;
    text-align:center;
    display:relative;
    transition: 0.5s;
    background: var(--light-color);
}

#Search-container {
    display: Relative;
    float: left;
    width: 440px;
    height: 140px;
    margin: 5px;
}
#q {
    position: absolute;
    border: 0; border-radius: 1px;
    width: 430px;
    color: var(--text);
    height: 30px;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    background: none;
    margin-left: 5px;
}

#Searchbar {
    position: absolute;
    background: var(--light-color);
    height: 30px;
    width: 440px;
    box-shadow: 3px 3px 3px var(--shadow);
}

#clock {
    width: 220px;
    height: 100px;
    background: var(--light-color);
    text-align:center;
    color: var(--text);
    margin-top: 40px;
    position: absolute;
    box-shadow: 3px 3px 3px var(--shadow);
}

#rclock {
    var(--text);
    font-size: 86px;
    vertical-align: middle;
    line-height: normal;
    margin-top: -8px;
    display: inline-block;

}
a:hover {
   color:var(--light-color);
}
.PerioDiv:hover {
    background: var(--text)
}
.chan:hover {
    color:var(--light-color);
    background: var(--text);
}

